@charset "UTF-8";

/*
    Paleta de Cores
    cor 1- lilas: #6129BB
    cor 2 - roxo: #5A3791
    cor 3 - lilas fraco: #5F0BE6
    cor 4 - roxo escuro: #4A3866
    cor 5 - roxo preto: #2F2D33;

*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --cor1: #6129BB;
    --cor2: #5A3791;
    --cor3: #5F0BE6;
    --cor4: #4A3866;
    --cor5: #2F2D33;
}

body, html{
    background-color: var(--cor2);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--cor2);
    width: 250px;
    height: 515px;
    border-radius: 15px;
    
    overflow: hidden;

    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.440);

    transition: width .2s, height .2s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: var(--cor2) url(../imagens/pexels-bruno-almeida-1423946545-26620155.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#form{
    display: block;
    padding: 10px;
}

div#form > h1{
    text-align: center;
    margin-bottom: 10px;
    color: white;
}

div#form > p{
    font-size: 0.9em;
}

form > div.campo{
    background-color: var(--cor2);
    width: 100%;
    height: 40px;
    border-radius: 20px;
    display: block;
    margin: 10px 0px;
    border: 1px solid var(--cor5);
    position: relative;
    overflow: hidden;
}

form label{
    display: none;
}

div.campo > i{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px 0 0 20px;
}

div.campo > input{
  background-color: var(--cor1); 
    font-size: 1em;
    position: absolute;
    left: 50px; 
    top: 0;
    width: calc(100% - 50px);
    height: 100%;
    border: 0px;
    border-radius: 20px;
    
    padding: 0 10px;
}

div.campo > input::placeholder {
    color: white; 
    opacity: 1;
}

form input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor1);
    color: white;
    border: 1px solid var(--cor5);
    border-radius: 20px;
    margin: 0px;
    margin-bottom: 10px;
}

form input[type=submit]:hover{
    background-color: var(--cor4);
}

form a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    margin: 0px;
    background-color: var(--cor1);
    color: var(--cor2);
    border: 1px solid var(--cor5);
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

form a.botao:hover{
    background-color: var(--cor4);
}